/* ---------- font-face ---------- */

@font-face {
  font-family: Orbitron;
  src: url(../fonts/Orbitron-VariableFont_wght.ttf);
}

/* ---------- Reset default styles and apply global font ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Orbitron;
}

/* ---------- Login container style ---------- */

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  min-height: 100vh;
}

/* ---------- Login container style ---------- */

.container {
  position: relative;
  width: 256px;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- Login container span style ---------- */

.container span {
  position: absolute;
  left: 0;
  width: 32px;
  height: 6px;
  background: rgba(102, 44, 44, 0);
  border-radius: 8px;
  transform-origin: 128px;
  transform: scale(2.8) rotate(calc(var(--i) * 7.2deg));
  animation: animateBlink 3s linear infinite;
  animation-delay: calc(var(--i) * 0.06s);
}

/* ---------- keyframes for animation of spans ---------- */

@keyframes animateBlink {
  0% {
    background: rgb(255, 0, 0);
  }
  
  25% {
    background: #662c2c;
  }
}


/* ---------- Login box and form styles ---------- */

.loginBox {
  position: absolute;
  width: 450px;
}

.loginBox form {
  width: 100%;
  padding: 0 50px;
}

/* ---------- Login title ---------- */

h2 {
  font-size: 2em;
  color: rgb(255, 0, 0);
  text-align: center;
}

/* ---------- input styles ---------- */

.inputBox {
  position: relative;
  margin: 25px 0;
}

.inputBox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid rgba(102, 44, 44, 0.9725490196);
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  color: #fff;
  padding: 0 20px;
  transition: 0.5s;
}

.inputBox input:focus,
.inputBox input:valid {
  border-color: rgb(255, 0, 0);
}

.inputBox label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: 0.5s ease;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
  top: 1px;
  font-size: 0.8em;
  background-color: #000000;
  padding: 0 6px;
  color: rgb(255, 0, 0);
}

/* ---------- Forgot password link container ---------- */

.forgotPassword {
  margin: -15px 0 10px;
  text-align: center;
}

.forgotPassword a {
  font-size: 0.85em;
  color: #fff;
  text-decoration: none;
}

.forgotPassword a:hover {
  text-decoration: underline;
}

/* ---------- Login button styling ---------- */

.btn {
  width: 100%;
  height: 45px;
  border-radius: 45px;
  background: rgb(255, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  color: #3a1f1f;
  font-weight: 600;
}

/* ---------- Signup link container ---------- */

.signupLink {
  margin: 20px 0 10px;
  text-align: center;
}

.signupLink a {
  font-size: 1em;
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-weight: 600;
}

.signupLink a:hover {
  text-decoration: underline;
}